:root {
  --primary: #00aaff;
  --secondary: #fff7f0;
  --accent: #ffae42;
  --text: #333;
  --shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
  height: 35px; /* tinggi header sesuai kebutuhan */
  text-align: center;
}

header p {
  margin-top: 60px; /* geser teks sedikit ke bawah */
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--secondary);
  color: var(--text);
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  box-shadow: var(--shadow);
  transition: background 0.3s ease;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px 20px;
}

.logo {
  font-size: 22px;
  font-weight: 750;
  color: var(--primary);
}

.logo a {
  color: var(--primary);
  text-decoration: none; /* hilangkan garis bawah */
}

.logo:hover {
  text-decoration: underline;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
  text-decoration: underline; /* underline saat hover */
}

/* Scroll animation */
.navbar.scrolled {
  background: var(--primary);
  color: white;
}

.navbar.scrolled a {
  color: white;
}

/* Header */
header {
  background: linear-gradient(90deg, var(--primary), var(--accent));
  color: white;
  text-align: center;
  padding: 80px 0;
  font-size: 28px;
  font-weight: 600;
  margin-top: 60px;
  box-shadow: var(--shadow);
}

/* Content */
.content {
  text-align: center;
  padding: 60px 20px 30px;
}

.content h2 {
  font-size: 30px;
  color: var(--primary);
}

.content p {
  font-size: 1.5rem;
  color: #666;
}

/* Grid cards */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 15px 25px;
  text-align: center;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card h3 {
  color: var(--primary);
  font-size: 26px;
  padding-top: 1rem;
}

.card p {
  margin: 15px 0;
  color: #555;
}

.btn {
  display: inline-block;
  background: var(--accent);
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
}

.btn:hover {
  background: #ff9500;
}

/* Footer */
footer {
  text-align: center;
  padding: 25px;
  background: white;
  color: #666;
  box-shadow: var(--shadow);
  margin-top: 50px;
}
